In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Import Statsmodels
from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import adfuller
from statsmodels.tools.eval_measures import rmse, aic

from pyFTS.benchmarks import Measures
from pyFTS.benchmarks import Measures
from pyFTS.common import Util
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score
import math
import statistics
from sklearn.preprocessing import StandardScaler

import sys
sys.path.append("/home/hugo/projetos-doutorado/mimo_emb_fts/src/")

from embfts.util.DataSetUtil import DataSetUtil
from embfts.util.StatisticsUtil import StatisticsUtil

In [2]:
data_set_util = DataSetUtil()
statistics_util = StatisticsUtil()

## Data set Air Quality

In [3]:
df = pd.read_csv('/home/hugo/projetos-doutorado/mimo_emb_fts/data/AirQualityUCI.csv', sep=';', decimal=',')
data = df.drop(labels=['Date','Time','Unnamed: 15', 'Unnamed: 16'], axis=1)
data.dropna(inplace=True)
#data = clean_dataset(data)
datadata_set_util.series_to_supervised_mimo(data, 1, 1)
data.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

## Persistence method - Naive forecasting

In [4]:
# # Create a lag feature
# var = pd.DataFrame(y_appliance)
# dataframe = pd.concat([var.shift(1), var], axis=1)
# dataframe.columns = ['t', 't+1']
# dataframe

In [5]:
# Create a baseline model (Naive model)
def model_persistence(x):
  return x

def test_persistence(test_X):
    predictions = list()
    for x in test_X:
        yhat = model_persistence(x)
        predictions.append(yhat)
    return predictions

## Sliding Window PyFTS:Persistence

In [37]:
def sliding_window(data,n_windows,train_size):

    result = {
        "window": [],
        "rmse": [],
        "mape": [],
        "mae": [],
        "r2": [],
        "variable":[]
    }
    
    tam = len(dataframe)
    n_windows = 30
    windows_length = math.floor(tam / n_windows)
    for ct, ttrain, ttest in Util.sliding_window(data, windows_length, 0.75, inc=1):
        if len(ttest) > 0:

            print('-' * 20)
            print(f'training window {(ct)}')

            Xtrain = ttrain.loc[:,'Appliances(t-1)':'Tdewpoint(t-1)']
            ytrain = ttrain.loc[:,'Appliances(t)':'Tdewpoint(t)']
            Xtest = ttest.loc[:,'Appliances(t-1)':'Tdewpoint(t-1)']
            ytest = ttest.loc[:,'Appliances(t)':'Tdewpoint(t)']

            test_X = pd.DataFrame(Xtest.values,columns = list(df.columns))
            test_y = pd.DataFrame(ytest.values,columns = list(df.columns))
            
            for col in test_y.columns:
                forecast = test_persistence(test_X[col])
                
#                 fig, ax = plt.subplots(nrows=1, ncols=1, figsize=[15, 3])
#                 ax.plot(test_y[col], label='Original')
#                 ax.plot(forecast, label='Forecast')
#                 handles, labels = ax.get_legend_handles_labels()
#                 lgd = ax.legend(handles, labels, loc=2, bbox_to_anchor=(1, 1))
#                 plt.show()

                #print("[{0: %H:%M:%S}]".format(datetime.datetime.now()) + f" getting statistics")
                rmse = Measures.rmse(test_y[col],forecast)
                mape = Measures.mape(test_y[col],forecast)
                mae = mean_absolute_error(test_y[col], forecast)
                r2 = r2_score(test_y[col], forecast)

                result["rmse"].append(rmse)
                result["mape"].append(mape)
                result["mae"].append(mae)
                result["r2"].append(r2)
                result["window"].append(ct)
                result["variable"].append(col)

    measures = pd.DataFrame(result)
    return measures

In [38]:
naive_result =  sliding_window(data=data,n_windows=30,train_size=0.75)

--------------------
training window 0
--------------------
training window 657
--------------------
training window 1314
--------------------
training window 1971
--------------------
training window 2628
--------------------
training window 3285
--------------------
training window 3942
--------------------
training window 4599
--------------------
training window 5256
--------------------
training window 5913
--------------------
training window 6570
--------------------
training window 7227
--------------------
training window 7884
--------------------
training window 8541
--------------------
training window 9198
--------------------
training window 9855
--------------------
training window 10512
--------------------
training window 11169
--------------------
training window 11826
--------------------
training window 12483

/home/hugo/anaconda3/lib/python3.8/site-packages/pyFTS/benchmarks/Measures.py:83: RuntimeWarning: Mean of empty slice
  return np.nanmean(np.abs(np.divide(np.subtract(targets, forecasts), targets))) * 100

--------------------
training window 13140
--------------------
training window 13797
--------------------
training window 14454
--------------------
training window 15111
--------------------
training window 15768
--------------------
training window 16425
--------------------
training window 17082
--------------------
training window 17739
--------------------
training window 18396
--------------------
training window 19053

In [39]:
columns = list(df.columns)

final_result = {
    "variable": [],
    "rmse": [],
    "mae": [],
    "mape": [],
    "r2": []
}

measures = naive_result
var = measures.groupby("variable")

for col in columns:
    
    var_agr = var.get_group(col)
           
    rmse = round(statistics.mean(var_agr.loc[:,'rmse']),3)
    mape = round(statistics.mean(var_agr.loc[:,'mape']),3)
    mae = round(statistics.mean(var_agr.loc[:,'mae']),3)
    r2 = round(statistics.mean(var_agr.loc[:,'r2']),3)

    final_result["variable"].append(col)
    final_result["rmse"].append(rmse)
    final_result["mape"].append(mape)
    final_result["mae"].append(mae)
    final_result["r2"].append(r2)
        
    #print(f'Results: {(col,rmse,mae,r2)}')
        
        
final_measures = round(pd.DataFrame(final_result),3)

In [40]:
final_measures

       variable    rmse     mae    mape     r2
0    Appliances  64.749  29.108  24.828  0.409
1        lights   5.002   2.333     NaN  0.193
2            T1   0.048   0.029   0.134  0.991
3          RH_1   0.405   0.175   0.425  0.920
4            T2   0.090   0.055   0.261  0.993
5          RH_2   0.237   0.140   0.358  0.979
6            T3   0.070   0.039   0.171  0.973
7          RH_3   0.188   0.097   0.248  0.963
8            T4   0.074   0.038   0.183  0.981
9          RH_4   0.146   0.089   0.232  0.977
10           T5   0.104   0.038   0.190  0.937
11         RH_5   1.892   0.550   0.891  0.894
12           T6   0.225   0.160     inf  0.993
13         RH_6   1.179   0.691   2.780  0.986
14           T7   0.039   0.022   0.108  0.978
15         RH_7   0.150   0.097   0.281  0.992
16           T8   0.049   0.032   0.146  0.991
17         RH_8   0.204   0.142   0.339  0.993
18           T9   0.036   0.017   0.085  0.946
19         RH_9   0.166   0.105   0.258  0.987
20        T_out   0.145   0.113     inf  0.995
21  Press_mm_hg   0.058   0.048   0.006  0.997
22       RH_out   0.806   0.601   0.832  0.991
23    Windspeed   0.174   0.122     inf  0.979
24   Visibility   1.972   1.127   3.064  0.957
25    Tdewpoint   0.110   0.082     inf  0.991