In [1]:
import sys
sys.path.append("/home/hugo/projetos-doutorado/mimo_emb_fts/src/embfts")
#sys.path.insert(0, '/home/hugo/projetos-doutorado/imp_doutorado/src/evolving_soda') 
import pandas as pd
import matplotlib.pyplot as plt
from models.NonStationaryFtsPca import NonStationaryFtsPca
from pyFTS.benchmarks import Measures
from pyFTS.models.nonstationary import nsfts
import math
import datetime
import statistics
import numpy as np
from pyFTS.common import Util
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import kpss

from util.DataSetUtil import DataSetUtil


np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

### Dataset Energy Appliance

In [2]:
data_set_util = DataSetUtil()

In [29]:
df = pd.read_csv('/home/hugo/projetos-doutorado/mimo_emb_fts/data/energydata_complete.csv', sep=',')
data = df.drop(labels=['date','rv1','rv2'], axis=1)
data = data_set_util.clean_dataset(data)
data = data_set_util.series_to_supervised_miso(data, 1, 1, 'Appliances')
data.head()

,Appliances(t-1),lights(t-1),T1(t-1),RH_1(t-1),T2(t-1),RH_2(t-1),T3(t-1),RH_3(t-1),T4(t-1),RH_4(t-1),...,RH_8(t-1),T9(t-1),RH_9(t-1),T_out(t-1),Press_mm_hg(t-1),RH_out(t-1),Windspeed(t-1),Visibility(t-1),Tdewpoint(t-1),Appliances(t)
1,60.0,30.0,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,60.0
2,60.0,30.0,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,50.0
3,50.0,30.0,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,50.0
4,50.0,40.0,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,60.0
5,60.0,40.0,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,50.0

### Model: NonStationaryFtsPca - PCA-NSFTS

In [20]:
fts_pca = NonStationaryFtsPca(num_components_pca = 1,
                          fts_model = nsfts.NonStationaryFTS,
                          order_fts_model = 1,
                          npart = 5,
                          gamma = 0.5,
                          memory_window_error = 3)

### Sliding Window PyFTS: PCA-NSFTS

In [21]:
result = {
     "window": [],
     "rmse": [],
     "mape": [],
     "smape": [],
     "mae": [],
     "r2": []
}

steps_ahead = 1
tam = len(data)
n_windows = 30
windows_length = math.floor(tam / n_windows)

for ct, ttrain, ttest in Util.sliding_window(data, windows_length, 0.75, inc=1):
    if len(ttest) > 0:
        
        print('-' * 20)
        print(f'training window {(ct)}')
        ttrain = ttrain.loc[:,'Appliances(t-1)':'Tdewpoint(t-1)']
        model_train, pca_train = fts_pca.run_train_pca_non_stationary(ttrain)
        y_test = ttest['Appliances(t-1)'].values
        forecast, data_test = fts_pca.run_test_target(y_test,steps_ahead)
        y_validation = ttest['Appliances(t)'].values
        
        
        y_validation = y_validation[:len(y_validation)-1]
        forecast = forecast[1:]
        
        #print("[{0: %H:%M:%S}]".format(datetime.datetime.now()) + f" getting statistics")
        rmse = Measures.rmse(y_validation,forecast)
        mape = Measures.mape(y_validation,forecast)
        smape = Measures.smape(y_validation,forecast)
        mae = mean_absolute_error(y_validation, forecast)
        r2 = r2_score(y_validation, forecast)
        
        result["rmse"].append(rmse)
        result["mape"].append(mape)
        result["smape"].append(smape)
        result["mae"].append(mae)
        result["r2"].append(r2)
        result["window"].append(ct)
        
#         fig, ax = plt.subplots(nrows=1, ncols=1, figsize=[15, 3])
#         ax.plot(y_validation, label='Original')
#         ax.plot(forecast, label='Forecast')
#         handles, labels = ax.get_legend_handles_labels()
#         lgd = ax.legend(handles, labels, loc=2, bbox_to_anchor=(1, 1))
#         plt.show()
        
        
measures = pd.DataFrame(result)

--------------------
training window 0
--------------------
training window 657
--------------------
training window 1314
--------------------
training window 1971
--------------------
training window 2628
--------------------
training window 3285
--------------------
training window 3942
--------------------
training window 4599
--------------------
training window 5256
--------------------
training window 5913
--------------------
training window 6570
--------------------
training window 7227
--------------------
training window 7884
--------------------
training window 8541
--------------------
training window 9198
--------------------
training window 9855
--------------------
training window 10512
--------------------
training window 11169
--------------------
training window 11826
--------------------
training window 12483
--------------------
training window 13140
--------------------
training window 13797
--------------------
training window 14454
--------------------
training window 15111
--------------------
training window 15768
--------------------
training window 16425
--------------------
training window 17082
--------------------
training window 17739
--------------------
training window 18396
--------------------
training window 19053

#### Sliding Windows Statistics:

In [22]:
print("Sliding Windows Statistics (test): ")
measures

Sliding Windows Statistics (test):

    window       rmse       mape     smape       mae        r2
0        0  20.691733   8.403922  3.755688  6.431866  0.969151
1      657  14.914779   4.037790  2.022186  4.391913  0.988314
2     1314  14.476686   3.502322  1.784826  4.208981  0.992715
3     1971   2.535364   3.574733  1.917153  1.265363  0.984492
4     2628  12.620935   2.951674  1.257116  2.911821  0.978994
5     3285   6.521018   3.756652  1.918517  2.224158  0.990762
6     3942  29.099204   4.196695  1.813994  5.459717  0.951866
7     4599   9.840623   3.842659  2.017683  2.958767  0.988787
8     5256   3.630434   1.988781  1.021130  1.459209  0.995183
9     5913   8.977109   3.885419  1.799930  2.846582  0.995038
10    6570  24.464496  10.058583  4.172338  5.832017  0.919618
11    7227  13.131373   4.632934  2.474494  3.447591  0.980654
12    7884   9.055260   3.444715  2.266537  2.756885  0.992330
13    8541  14.997722   4.341936  2.049984  5.211282  0.988258
14    9198  16.258811   4.234366  1.806463  3.586644  0.975440
15    9855   3.391901   2.000848  1.035844  1.288552  0.990249
16   10512  26.836521   4.804890  2.313952  6.033531  0.945966
17   11169   1.910464   2.210307  1.223240  0.913939  0.969641
18   11826  17.392332   3.154646  1.850261  3.069450  0.926430
19   12483   4.885136   1.855853  0.943965  1.610647  0.987746
20   13140  22.854153   5.941669  2.653793  5.102186  0.955855
21   13797   4.346289   2.473732  1.298138  1.671549  0.995922
22   14454   2.671637   1.437060  0.751353  1.019737  0.980408
23   15111   9.440927   3.452956  1.707588  3.088094  0.992453
24   15768   6.575091   2.310900  1.194856  2.082834  0.989159
25   16425   6.104799   2.225080  1.186560  1.759494  0.986866
26   17082  13.386827   2.977987  1.796600  3.863889  0.990759
27   17739  10.306357   3.013739  1.925168  2.135416  0.913852
28   18396  13.556724   2.613039  1.485981  2.726367  0.976928
29   19053  13.062043   3.312336  1.911030  4.274395  0.992903

#### Mean Statistics PCA-NSFTS:

In [23]:
final_result = {
     "rmse": [],
     "mape": [],
     "smape": [],
     "mae": [],
     "r2": []
}

final_result["rmse"].append(statistics.mean(measures['rmse']))
final_result["mape"].append(statistics.mean(measures['mape']))
final_result["smape"].append(statistics.mean(measures['smape']))
final_result["mae"].append(statistics.mean(measures['mae']))
final_result["r2"].append(statistics.mean(measures['r2']))
        
final_measures_pca = pd.DataFrame(final_result)

print("Mean Statistics PCA-NSFTS (test): ")
final_measures_pca

Mean Statistics PCA-NSFTS (test):

        rmse      mape     smape       mae        r2
0  11.931225  3.687941  1.845212  3.187763  0.976225

### Sliding Window PyFTS: KPCA-NSFTS

In [25]:
result = {
     "window": [],
     "rmse": [],
     "mape": [],
     "smape": [],
     "mae": [],
     "r2": []
}

tam = len(data)
n_windows = 30
windows_length = math.floor(tam / n_windows)
for ct, ttrain, ttest in Util.sliding_window(data, windows_length, 0.75, inc=1):
    if len(ttest) > 0:
        
        print('-' * 20)
        print(f'training window {(ct)}')
        ttrain = ttrain.loc[:,'Appliances(t-1)':'Tdewpoint(t-1)']
        model_train, pca_train = fts_pca.run_train_kernel_pca_non_stationary(ttrain)
        y_test = ttest['Appliances(t-1)'].values
        forecast, data_test = fts_pca.run_test_target(y_test,steps_ahead)
        y_validation = ttest['Appliances(t)'].values
        
        
        y_validation = y_validation[:len(y_validation)-1]
        forecast = forecast[1:]
                
        #print("[{0: %H:%M:%S}]".format(datetime.datetime.now()) + f" getting statistics")
        rmse = Measures.rmse(y_validation,forecast)
        mape = Measures.mape(y_validation,forecast)
        smape = Measures.smape(y_validation,forecast)
        mae = mean_absolute_error(y_validation, forecast)
        r2 = r2_score(y_validation, forecast)
        
        result["rmse"].append(rmse)
        result["mape"].append(mape)
        result["smape"].append(smape)
        result["mae"].append(mae)
        result["r2"].append(r2)
        result["window"].append(ct)
        
measures = pd.DataFrame(result)

--------------------
training window 0
--------------------
training window 657
--------------------
training window 1314
--------------------
training window 1971
--------------------
training window 2628
--------------------
training window 3285
--------------------
training window 3942
--------------------
training window 4599
--------------------
training window 5256
--------------------
training window 5913
--------------------
training window 6570
--------------------
training window 7227
--------------------
training window 7884
--------------------
training window 8541
--------------------
training window 9198
--------------------
training window 9855
--------------------
training window 10512
--------------------
training window 11169
--------------------
training window 11826
--------------------
training window 12483
--------------------
training window 13140
--------------------
training window 13797
--------------------
training window 14454
--------------------
training window 15111
--------------------
training window 15768
--------------------
training window 16425
--------------------
training window 17082
--------------------
training window 17739
--------------------
training window 18396
--------------------
training window 19053

#### Sliding Windows Statistics:

In [26]:
#print("Sliding Windows Statistics: ")
measures

    window       rmse      mape     smape       mae        r2
0        0  20.771261  7.597769  3.248077  5.859807  0.968913
1      657  15.022263  3.331697  1.572209  3.978865  0.988145
2     1314  15.018710  2.497474  1.122541  3.825538  0.992159
3     1971   1.664547  1.683364  0.874029  0.683243  0.993315
4     2628  12.157618  2.592404  1.038380  2.567658  0.980508
5     3285   6.109942  3.142170  1.448941  1.723468  0.991890
6     3942  28.446164  3.648429  1.511182  4.885536  0.954003
7     4599   9.197048  2.798678  1.372718  2.274442  0.990206
8     5256   3.591235  1.154477  0.588973  0.992062  0.995287
9     5913   9.270201  3.757758  1.514448  2.604914  0.994709
10    6570  23.980979  9.133411  3.566008  5.317561  0.922764
11    7227  13.029788  3.849534  1.918332  3.052534  0.980953
12    7884   8.439737  2.849945  1.892008  2.335627  0.993337
13    8541  14.713377  3.698397  1.651207  4.791599  0.988699
14    9198  15.906817  3.427927  1.381701  3.093495  0.976492
15    9855   2.921337  1.260925  0.633356  0.853419  0.992767
16   10512  25.932740  3.990938  1.868440  5.314135  0.949544
17   11169   1.780678  1.442745  0.765833  0.585207  0.973626
18   11826  16.911599  2.400889  1.365820  2.386173  0.930441
19   12483   4.387048  1.192669  0.597983  1.155620  0.990117
20   13140  22.667796  5.503299  2.398084  4.775938  0.956572
21   13797   4.477502  1.619750  0.784195  1.245660  0.995672
22   14454   1.879147  0.759832  0.390760  0.574775  0.990307
23   15111   9.459495  2.890399  1.332946  2.713647  0.992423
24   15768   6.393172  1.638827  0.837123  1.656379  0.989750
25   16425   5.300208  1.399997  0.740383  1.212692  0.990100
26   17082  12.588035  2.508911  1.515088  3.391207  0.991828
27   17739   9.266579  1.608272  1.131383  1.353144  0.930357
28   18396  12.788366  2.044530  1.144243  2.332862  0.979469
29   19053  12.588289  2.487794  1.481711  3.468955  0.993409

#### Mean Statistics KPCA-NSFTS:

In [27]:
final_result = {
     "rmse": [],
     "mape": [],
     "smape": [],
     "mae": [],
     "r2": []
}

final_result["rmse"].append(statistics.mean(measures['rmse']))
final_result["mape"].append(statistics.mean(measures['mape']))
final_result["smape"].append(statistics.mean(measures['smape']))
final_result["mae"].append(statistics.mean(measures['mae']))
final_result["r2"].append(statistics.mean(measures['r2']))
        
final_measures_kpca = pd.DataFrame(final_result)

print("Mean Statistics KPCA-NSFTS: ")
final_measures_kpca

Mean Statistics KPCA-NSFTS:

        rmse     mape     smape       mae        r2
0  11.555389  2.93044  1.389603  2.700205  0.978592