In [ ]:
from keras.models import Sequential
from keras.layers import Dense, LSTM
from numpy import array
from numpy.random import uniform
from numpy import hstack
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
import pandas as pd
from sklearn.datasets import make_regression
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
import os
import seaborn as sns
import pandas as pd
from math import e,sqrt
import matplotlib.pyplot as plt
from scipy.optimize import least_squares
from scipy.optimize import leastsq
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score

In [ ]:
df = pd.read_csv('/content/smart_home_data.csv', sep=',')

df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         time  use [kW]  gen [kW]  ...  precipIntensity  dewPoint  precipProbability
0  1451624400  0.932833  0.003483  ...              0.0      24.4                0.0
1  1451624401  0.934333  0.003467  ...              0.0      24.4                0.0
2  1451624402  0.931817  0.003467  ...              0.0      24.4                0.0
3  1451624403  1.022050  0.003483  ...              0.0      24.4                0.0
4  1451624404  1.139400  0.003467  ...              0.0      24.4                0.0

[5 rows x 32 columns]

In [ ]:
df=df[:-1]
df.tail()

              time  use [kW]  ...  dewPoint  precipProbability
503905  1452128305  1.601233  ...     31.27               0.51
503906  1452128306  1.599333  ...     31.27               0.51
503907  1452128307  1.924267  ...     31.27               0.51
503908  1452128308  1.978200  ...     31.27               0.51
503909  1452128309  1.990950  ...     31.27               0.51

[5 rows x 32 columns]

In [ ]:
df.columns = [col.replace(' [kW]', '') for col in df.columns]
df.columns

Index(['time', 'use', 'gen', 'House overall', 'Dishwasher', 'Furnace 1',
       'Furnace 2', 'Home office', 'Fridge', 'Wine cellar', 'Garage door',
       'Kitchen 12', 'Kitchen 14', 'Kitchen 38', 'Barn', 'Well', 'Microwave',
       'Living room', 'Solar', 'temperature', 'icon', 'humidity', 'visibility',
       'summary', 'apparentTemperature', 'pressure', 'windSpeed', 'cloudCover',
       'windBearing', 'precipIntensity', 'dewPoint', 'precipProbability'],
      dtype='object')

In [ ]:
df.iloc[np.r_[0:5,-5:0]]

              time       use  ...  dewPoint  precipProbability
0       1451624400  0.932833  ...     24.40               0.00
1       1451624401  0.934333  ...     24.40               0.00
2       1451624402  0.931817  ...     24.40               0.00
3       1451624403  1.022050  ...     24.40               0.00
4       1451624404  1.139400  ...     24.40               0.00
503905  1452128305  1.601233  ...     31.27               0.51
503906  1452128306  1.599333  ...     31.27               0.51
503907  1452128307  1.924267  ...     31.27               0.51
503908  1452128308  1.978200  ...     31.27               0.51
503909  1452128309  1.990950  ...     31.27               0.51

[10 rows x 32 columns]

In [ ]:
import time 
print(' start ' , time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(1451624400)))

 start  2016-01-01 05:00:00

In [ ]:
time_index = pd.date_range('2016-01-01 05:00', periods=len(df),  freq='min')  
time_index = pd.DatetimeIndex(time_index)
df= df.set_index(time_index)
#df = df.drop(['time'], axis=1)
df.iloc[np.r_[0:5,-5:0]]

                           time       use  ...  dewPoint  precipProbability
2016-01-01 05:00:00  1451624400  0.932833  ...     24.40               0.00
2016-01-01 05:01:00  1451624401  0.934333  ...     24.40               0.00
2016-01-01 05:02:00  1451624402  0.931817  ...     24.40               0.00
2016-01-01 05:03:00  1451624403  1.022050  ...     24.40               0.00
2016-01-01 05:04:00  1451624404  1.139400  ...     24.40               0.00
2016-12-16 03:25:00  1452128305  1.601233  ...     31.27               0.51
2016-12-16 03:26:00  1452128306  1.599333  ...     31.27               0.51
2016-12-16 03:27:00  1452128307  1.924267  ...     31.27               0.51
2016-12-16 03:28:00  1452128308  1.978200  ...     31.27               0.51
2016-12-16 03:29:00  1452128309  1.990950  ...     31.27               0.51

[10 rows x 32 columns]

In [ ]:
df=df.drop(['House overall','summary','icon'],axis=1)
df

                           time       use  ...  dewPoint  precipProbability
2016-01-01 05:00:00  1451624400  0.932833  ...     24.40               0.00
2016-01-01 05:01:00  1451624401  0.934333  ...     24.40               0.00
2016-01-01 05:02:00  1451624402  0.931817  ...     24.40               0.00
2016-01-01 05:03:00  1451624403  1.022050  ...     24.40               0.00
2016-01-01 05:04:00  1451624404  1.139400  ...     24.40               0.00
...                         ...       ...  ...       ...                ...
2016-12-16 03:25:00  1452128305  1.601233  ...     31.27               0.51
2016-12-16 03:26:00  1452128306  1.599333  ...     31.27               0.51
2016-12-16 03:27:00  1452128307  1.924267  ...     31.27               0.51
2016-12-16 03:28:00  1452128308  1.978200  ...     31.27               0.51
2016-12-16 03:29:00  1452128309  1.990950  ...     31.27               0.51

[503910 rows x 29 columns]

In [ ]:
df['cloudCover'].unique()

array(['cloudCover', '0.75', '0', '1', '0.31', '0.44', '0.13', '0.19',
       '0.25', '0.16', '0.21', '0.15', '0.14', '0.27', '0.28', '0.17',
       '0.05', '0.1', '0.26', '0.29', '0.11', '0.09', '0.12', '0.06',
       '0.02', '0.08', '0.04', '0.35', '0.22', '0.23', '0.54', '0.39',
       '0.03', '0.07', '0.76', '0.62', '0.18', '0.79', '0.48', '0.24',
       '0.57', 0.24, 1.0, 0.31, 0.28, 0.15, 0.41, 0.1, 0.12, 0.08, 0.09,
       0.19, 0.04, 0.05, 0.29, 0.27, 0.35, 0.18, 0.06, 0.03, 0.11, 0.14,
       0.25, 0.78, 0.0, 0.16, 0.21, 0.23, 0.17, 0.75, 0.26, 0.2, 0.76,
       0.13, 0.77, 0.46, 0.07, 0.55, 0.02, 0.01, 0.51, 0.47, 0.5, 0.4,
       0.3, 0.22, 0.43, 0.33, 0.6, 0.68, 0.66, 0.45, 0.34, 0.52, 0.67,
       0.48, 0.49, 0.39, 0.37, 0.62, 0.36, 0.79, 0.61, 0.38, 0.42, 0.53,
       0.63, 0.44, 0.54, 0.32, 0.56, 0.58, 0.72, 0.57, 0.73, 0.71, 0.64,
       0.59], dtype=object)

In [ ]:
df['cloudCover'].replace(['cloudCover'], method='bfill', inplace=True)
df['cloudCover'] = df['cloudCover'].astype('float')
df['cloudCover'].unique()

array([0.75, 0.  , 1.  , 0.31, 0.44, 0.13, 0.19, 0.25, 0.16, 0.21, 0.15,
       0.14, 0.27, 0.28, 0.17, 0.05, 0.1 , 0.26, 0.29, 0.11, 0.09, 0.12,
       0.06, 0.02, 0.08, 0.04, 0.35, 0.22, 0.23, 0.54, 0.39, 0.03, 0.07,
       0.76, 0.62, 0.18, 0.79, 0.48, 0.24, 0.57, 0.41, 0.78, 0.2 , 0.77,
       0.46, 0.55, 0.01, 0.51, 0.47, 0.5 , 0.4 , 0.3 , 0.43, 0.33, 0.6 ,
       0.68, 0.66, 0.45, 0.34, 0.52, 0.67, 0.49, 0.37, 0.36, 0.61, 0.38,
       0.42, 0.53, 0.63, 0.32, 0.56, 0.58, 0.72, 0.73, 0.71, 0.64, 0.59])

In [ ]:
df = df.resample('10T').mean()
print("Shape of hourly data: {} --> n_rows = {}, n_cols = {}".format(df.shape, df.shape[0],df.shape[1]))

Shape of hourly data: (50391, 28) --> n_rows = 50391, n_cols = 28

In [ ]:
df=df.reset_index(drop=True)

In [ ]:
df.head()

        use       gen  Dishwasher  ...  precipIntensity  dewPoint  precipProbability
0  1.251310  0.003450    0.000122  ...              0.0      24.4                0.0
1  0.875018  0.003440    0.000018  ...              0.0      24.4                0.0
2  1.254552  0.003225    0.000057  ...              0.0      24.4                0.0
3  1.025522  0.003060    0.000037  ...              0.0      24.4                0.0
4  0.961780  0.003252    0.000087  ...              0.0      24.4                0.0

[5 rows x 28 columns]

In [ ]:
def series_to_supervised_mimo(data, n_in, n_out, dropnan=True):
	"""
	Frame a time series as a supervised learning dataset.
	Arguments:
		data: Sequence of observations as a list or NumPy array.
		n_in: Number of lag observations as input (X).
		n_out: Number of observations as output (y).
		dropnan: Boolean whether or not to drop rows with NaN values.
	Returns:
		Pandas DataFrame of series framed for supervised learning.
	"""
	n_vars = 1 if type(data) is list else data.shape[1]
	df = pd.DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [(df.columns[j]+'(t-%d)' % (i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [(df.columns[j]+'(t)') for j in range(n_vars)]
		else:
			names += [(df.columns[j]+'%d(t+%d)' % (j, i)) for j in range(n_vars)]
	# put it all together
	agg = pd.concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [ ]:
reframed = series_to_supervised_mimo(df, 1, 1)
reframed.head()

   use(t-1)  gen(t-1)  ...  dewPoint(t)  precipProbability(t)
1  1.251310  0.003450  ...         24.4                   0.0
2  0.875018  0.003440  ...         24.4                   0.0
3  1.254552  0.003225  ...         24.4                   0.0
4  1.025522  0.003060  ...         24.4                   0.0
5  0.961780  0.003252  ...         24.3                   0.0

[5 rows x 56 columns]

In [ ]:
x,y=reframed.values,reframed.values
x.shape,y.shape

((50390, 56), (50390, 56))

In [ ]:
x = x.reshape(x.shape[0], x.shape[1], 1)
print("x:", x.shape, "y:", y.shape)

x: (50390, 56, 1) y: (50390, 56)

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)
# Get the number of inputs and outputs from the dataset

In [ ]:
df_trainx=x_train[:,:28,]
df_testx=x_test[:,:28,]
df_trainy=y_train[:,:28]

in_dim = (df_trainx.shape[1], df_trainx.shape[2])
out_dim = df_trainy.shape[1]
print(in_dim)
print(out_dim)

(28, 1)
28

In [ ]:
model = Sequential()
model.add(LSTM(64, input_shape=in_dim, activation="relu"))
model.add(Dense(out_dim))
model.compile(loss="mse", optimizer="adam")
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_3 (LSTM)               (None, 64)                16896

 dense (Dense)               (None, 28)                1820

=================================================================
Total params: 18,716
Trainable params: 18,716
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(df_trainx,df_trainy,epochs=100, batch_size=12, verbose=0)

In [ ]:
ypred = model.predict(df_testx)
df_original=y_test[:,28:]
col=['use(t)', 'gen(t)', 'Dishwasher(t)', 'Furnace 1(t)', 'Furnace 2(t)',
                                   'Home office(t)', 'Fridge(t)', 'Wine cellar(t)', 'Garage door(t)',
                                   'Kitchen 12(t)', 'Kitchen 14(t)', 'Kitchen 38(t)', 'Barn(t)', 'Well(t)',
                                   'Microwave(t)', 'Living room(t)', 'Solar(t)', 'temperature(t)',
                                   'humidity(t)', 'visibility(t)', 'apparentTemperature(t)', 'pressure(t)',
                                   'windSpeed(t)', 'cloudCover(t)', 'windBearing(t)', 'precipIntensity(t)',
                                   'dewPoint(t)', 'precipProbability(t)']
y_pred=pd.DataFrame(ypred,columns=col)
df_original=pd.DataFrame(df_original,columns=col)

In [ ]:
df_original

         use(t)    gen(t)  ...  dewPoint(t)  precipProbability(t)
0      0.972997  0.003312  ...       30.890                 0.000
1      0.443733  0.002712  ...       17.190                 0.000
2      0.035458  0.394792  ...       64.538                 0.578
3      0.331772  0.004402  ...       44.492                 0.000
4      1.171500  0.002903  ...       10.984                 0.170
...         ...       ...  ...          ...                   ...
12593  0.842232  0.003093  ...       14.810                 0.000
12594  0.590448  0.052390  ...       24.455                 0.045
12595  0.885382  0.003340  ...       34.540                 0.000
12596  0.282782  0.281353  ...       69.870                 0.740
12597  0.962667  0.003913  ...       40.244                 0.000

[12598 rows x 28 columns]

In [ ]:
# print("y1 MSE:%.4f" % mean_squared_error(ytest[:,0], ypred[:,0]))
# print("y2 MSE:%.4f" % mean_squared_error(ytest[:,1], ypred[:,1]))

In [ ]:
col=df_original.columns
result = {
        
         "rmse": [],
         
         "mae": [],
         "r2": [],
         "mape":[],
         "variable":[]
    }
    
final_result = {
        
         "rmse": [],
         
         "mae": [],
         "r2": [],
         "mape":[],
         "variable":[]}
for col in col: 
  original = df_original[col].values
  forecast = y_pred[col].values
  mae = round(mean_absolute_error(original,forecast),3)
  r2 = round(r2_score(original,forecast),3)
  rmse = round(mean_squared_error(original,forecast,squared=False),3)             
  mape = round(mean_absolute_percentage_error(original,forecast),3)

  result["rmse"].append(rmse)
  result["mae"].append(mae)
  result["r2"].append(r2)
  result["mape"].append(mape)
  
  result["variable"].append(col)
        
measures = pd.DataFrame(result)

In [ ]:
import statistics
col=df_original.columns
final_result = {
    "variable": [],
    "rmse": [],
    # "nrmse": [],
    "mae": [],
    "r2": [],
    "mape":[]
}


var = measures.groupby("variable")

for col in col:
    
    var_agr = var.get_group(col)
           
    rmse = round(statistics.mean(var_agr.loc[:,'rmse']),3)
    # nrmse = round(statistics.mean(var_agr.loc[:,'nrmse']),3)
    mae = round(statistics.mean(var_agr.loc[:,'mae']),3)
    r2 = round(statistics.mean(var_agr.loc[:,'r2']),3)
    mape = round(statistics.mean(var_agr.loc[:,'mape']),3)

    final_result["variable"].append(col)
    final_result["rmse"].append(rmse)
    # final_result["nrmse"].append(nrmse)
    final_result["mae"].append(mae)
    final_result["r2"].append(r2)
    final_result["mape"].append(mape)
        
    print(f'Results: {(col,rmse,mae,r2,mape)}')
        
        
final_measures = pd.DataFrame(final_result) 

print("Statistics MIMO (test): ")
final_measures

Results: ('use(t)', 8.937, 8.496, -93.557, 28.9)
Results: ('gen(t)', 5.765, 5.728, -2113.118, 1154.069)
Results: ('Dishwasher(t)', 1.856, 1.788, -120.552, 117889815408556.16)
Results: ('Furnace 1(t)', 3.216, 3.116, -510.97, 111.1)
Results: ('Furnace 2(t)', 1.237, 1.162, -75.981, 17.41)
Results: ('Home office(t)', 1.658, 1.594, -241.082, 40.201)
Results: ('Fridge(t)', 1.568, 1.553, -495.192, 159.864)
Results: ('Wine cellar(t)', 2.998, 2.958, -2859.855, 321.442)
Results: ('Garage door(t)', 4.02, 3.956, -159652.023, 325.392)
Results: ('Kitchen 12(t)', 0.898, 0.532, -2354.287, 450910403168.708)
Results: ('Kitchen 14(t)', 3.323, 3.189, -5031.116, 8446038262549.003)
Results: ('Kitchen 38(t)', 1.701, 1.287, -236773216933.432, 8195073528235.12)
Results: ('Barn(t)', 0.872, 0.767, -47.464, 25.677)
Results: ('Well(t)', 0.472, 0.342, -46.025, 393590962702.154)
Results: ('Microwave(t)', 1.93, 1.588, -1023.327, 1205342977909.027)
Results: ('Living room(t)', 2.267, 2.243, -565.0, 4132807053421.786)
Results: ('Solar(t)', 2.853, 2.821, -516.963, 558.937)
Results: ('temperature(t)', 19.662, 16.521, -0.04, 0.584)
Results: ('humidity(t)', 2.065, 1.997, -111.358, 3.274)
Results: ('visibility(t)', 2.195, 1.419, -0.821, 0.266)
Results: ('apparentTemperature(t)', 23.605, 19.922, -0.125, 0.884)
Results: ('pressure(t)', 37.446, 27.53, -21.417, 0.027)
Results: ('windSpeed(t)', 5.417, 4.496, -0.851, 11780953809247.283)
Results: ('cloudCover(t)', 3.606, 3.49, -158.079, 2152457126715487.2)
Results: ('windBearing(t)', 108.128, 88.087, -0.046, 3166608450490890.0)
Results: ('precipIntensity(t)', 5.171, 5.088, -230769.204, 1.8716047240617396e+16)
Results: ('dewPoint(t)', 18.162, 15.227, 0.113, 1.624)
Results: ('precipProbability(t)', 0.454, 0.263, -6.571, 849521540849492.0)
Statistics MIMO (test):

                  variable     rmse     mae            r2          mape
0                   use(t)    8.937   8.496 -9.355700e+01  2.890000e+01
1                   gen(t)    5.765   5.728 -2.113118e+03  1.154069e+03
2            Dishwasher(t)    1.856   1.788 -1.205520e+02  1.178898e+14
3             Furnace 1(t)    3.216   3.116 -5.109700e+02  1.111000e+02
4             Furnace 2(t)    1.237   1.162 -7.598100e+01  1.741000e+01
5           Home office(t)    1.658   1.594 -2.410820e+02  4.020100e+01
6                Fridge(t)    1.568   1.553 -4.951920e+02  1.598640e+02
7           Wine cellar(t)    2.998   2.958 -2.859855e+03  3.214420e+02
8           Garage door(t)    4.020   3.956 -1.596520e+05  3.253920e+02
9            Kitchen 12(t)    0.898   0.532 -2.354287e+03  4.509104e+11
10           Kitchen 14(t)    3.323   3.189 -5.031116e+03  8.446038e+12
11           Kitchen 38(t)    1.701   1.287 -2.367732e+11  8.195074e+12
12                 Barn(t)    0.872   0.767 -4.746400e+01  2.567700e+01
13                 Well(t)    0.472   0.342 -4.602500e+01  3.935910e+11
14            Microwave(t)    1.930   1.588 -1.023327e+03  1.205343e+12
15          Living room(t)    2.267   2.243 -5.650000e+02  4.132807e+12
16                Solar(t)    2.853   2.821 -5.169630e+02  5.589370e+02
17          temperature(t)   19.662  16.521 -4.000000e-02  5.840000e-01
18             humidity(t)    2.065   1.997 -1.113580e+02  3.274000e+00
19           visibility(t)    2.195   1.419 -8.210000e-01  2.660000e-01
20  apparentTemperature(t)   23.605  19.922 -1.250000e-01  8.840000e-01
21             pressure(t)   37.446  27.530 -2.141700e+01  2.700000e-02
22            windSpeed(t)    5.417   4.496 -8.510000e-01  1.178095e+13
23           cloudCover(t)    3.606   3.490 -1.580790e+02  2.152457e+15
24          windBearing(t)  108.128  88.087 -4.600000e-02  3.166608e+15
25      precipIntensity(t)    5.171   5.088 -2.307692e+05  1.871605e+16
26             dewPoint(t)   18.162  15.227  1.130000e-01  1.624000e+00
27    precipProbability(t)    0.454   0.263 -6.571000e+00  8.495215e+14

##MinMaxScaler+RandomizedSearchCV

In [ ]:
x,y=reframed.loc[:,:],reframed.loc[:,:]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scalerx = MinMaxScaler()
scalery=MinMaxScaler()

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)
df_trainx=x_train.loc[:,'use(t-1)':'precipProbability(t-1)']
df_trainx_scaled = scalerx.fit_transform(df_trainx)
df_testx=x_test.loc[:,'use(t-1)':'precipProbability(t-1)']
df_testx_scaled = scalerx.transform(df_testx)
df_trainy=y_train.loc[:,'use(t-1)':'precipProbability(t-1)']
df_trainy_scaled=scalery.fit_transform(df_trainy)

df_original=y_test.loc[:,'use(t)':'precipProbability(t)']

In [ ]:
trainx_scaled = df_trainx_scaled .reshape(df_trainx_scaled .shape[0],df_trainx_scaled .shape[1],1)
testx_scaled = df_testx_scaled.reshape(df_testx_scaled .shape[0], df_testx_scaled .shape[1], 1)

In [ ]:
print(trainx_scaled.shape,testx_scaled.shape,df_trainy_scaled.shape)

(37792, 28, 1) (12598, 28, 1) (37792, 28)

In [ ]:
in_dim = (trainx_scaled.shape[1], trainx_scaled.shape[2])
out_dim = df_trainy.shape[1]
print(in_dim)
print(out_dim)

(28, 1)
28

In [ ]:
from keras.wrappers.scikit_learn import KerasRegressor
from keras.callbacks import EarlyStopping
def get_model(neurons1=32,batch_size=32,activation='relu'):
  model = Sequential()
  model.add(LSTM(neurons1, input_shape=in_dim,activation=activation))
  model.add(Dense(out_dim))
  model.compile(loss='mse', optimizer='adam')
  early_stopping = EarlyStopping(monitor="loss", patience = 5)# early stop patience
  history = model.fit(trainx_scaled,df_trainy_scaled,
              batch_size=batch_size,
              epochs=20,
              callbacks = [early_stopping],
              verbose=0) #verbose set to 1 will show the training process
    
  return model

In [ ]:
clf = KerasRegressor(build_fn=get_model, verbose=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.
  """Entry point for launching an IPython kernel.

In [ ]:
from scipy.stats import randint as sp_randint
from sklearn.model_selection import RandomizedSearchCV
rf_params = {
    'activation': ['relu','tanh'],
    'batch_size': [16,32,64],
    'neurons1':sp_randint(10,100)
    #'epochs':[20,50,100,200],
   
}

Random = RandomizedSearchCV(clf, param_distributions=rf_params,n_iter=10,cv=3,scoring='neg_mean_squared_error')

hyperparameters_tuning = Random.fit(trainx_scaled,df_trainy_scaled)
print('Best Parameters = {}'.format(hyperparameters_tuning.best_params_))

tuned_model = hyperparameters_tuning.best_estimator_

Best Parameters = {'activation': 'tanh', 'batch_size': 16, 'neurons1': 99}

In [ ]:
y_p=tuned_model.predict(df_testx_scaled)
columns=df_original.columns
y_p=pd.DataFrame(y_p,columns=columns)
y_p

         use(t)    gen(t)  ...  dewPoint(t)  precipProbability(t)
0      0.146707  0.005750  ...     0.314585              0.002914
1      0.050163  0.132729  ...     0.580584             -0.000817
2      0.052561  0.008074  ...     0.862847              0.002792
3      0.077756  0.011263  ...     0.347564              0.000662
4      0.045172  0.019711  ...     0.702687             -0.000930
...         ...       ...  ...          ...                   ...
12593  0.067428  0.107613  ...     0.431686              0.001401
12594  0.115106  0.012956  ...     0.614704              0.002613
12595  0.058506  0.515517  ...     0.431282              0.002546
12596  0.035407  0.006858  ...     0.642932              0.000566
12597  0.059149  0.285657  ...     0.815919              0.002869

[12598 rows x 28 columns]

In [ ]:
y_p_inv = scalery.inverse_transform(y_p)
columns=df_original.columns
y_p_inv=pd.DataFrame(y_p_inv,columns=columns)
y_p_inv

         use(t)    gen(t)  ...  dewPoint(t)  precipProbability(t)
0      1.647464  0.003253  ...     5.077363              0.002448
1      0.563841  0.073131  ...    32.403442             -0.000686
2      0.590757  0.004532  ...    61.400265              0.002345
3      0.873552  0.006286  ...     8.465266              0.000556
4      0.507820  0.010935  ...    44.947037             -0.000782
...         ...       ...  ...          ...                   ...
12593  0.757628  0.059309  ...    17.107153              0.001177
12594  1.292768  0.007218  ...    35.908569              0.002195
12595  0.657483  0.283785  ...    17.065638              0.002139
12596  0.398219  0.003862  ...    38.808403              0.000475
12597  0.664702  0.157290  ...    56.579334              0.002410

[12598 rows x 28 columns]

In [ ]:
df_original

         use(t)    gen(t)  ...  dewPoint(t)  precipProbability(t)
3000   1.296780  0.002830  ...         4.35                   0.0
9309   0.818417  0.073327  ...        32.64                   0.0
40426  0.607338  0.004387  ...        61.17                   0.0
6926   0.695697  0.003315  ...         8.72                   0.0
41917  0.626450  0.004370  ...        45.23                   0.0
...         ...       ...  ...          ...                   ...
199    0.581927  0.040993  ...        17.08                   0.0
18400  0.833072  0.003438  ...        36.25                   0.0
12474  1.460175  0.289097  ...        16.79                   0.0
39473  0.495497  0.004295  ...        38.40                   0.0
25147  0.790603  0.198325  ...        56.48                   0.0

[12598 rows x 28 columns]

In [ ]:
col=df_original.columns
result = {
        
         "rmse": [],
         
         "mae": [],
         "r2": [],
         "mape":[],
         "variable":[]
    }
    
final_result = {
        
         "rmse": [],
         
         "mae": [],
         "r2": [],
         "mape":[],
         "variable":[]}
for col in col: 
  original = df_original[col].values
  forecast = y_p_inv[col].values
  mae = round(mean_absolute_error(original,forecast),3)
  r2 = round(r2_score(original,forecast),3)
  rmse = round(mean_squared_error(original,forecast,squared=False),3)             
  mape = round(mean_absolute_percentage_error(original,forecast),3)

  result["rmse"].append(rmse)
  result["mae"].append(mae)
  result["r2"].append(r2)
  result["mape"].append(mape)
  
  result["variable"].append(col)
        
measures = pd.DataFrame(result)

In [ ]:
import statistics
final_result = {
    "variable": [],
    "rmse": [],
    # "nrmse": [],
    "mae": [],
    "r2": [],
    "mape":[]
}


var = measures.groupby("variable")

for col in columns:
    
    var_agr = var.get_group(col)
           
    rmse = round(statistics.mean(var_agr.loc[:,'rmse']),3)
    # nrmse = round(statistics.mean(var_agr.loc[:,'nrmse']),3)
    mae = round(statistics.mean(var_agr.loc[:,'mae']),3)
    r2 = round(statistics.mean(var_agr.loc[:,'r2']),3)
    mape = round(statistics.mean(var_agr.loc[:,'mape']),3)

    final_result["variable"].append(col)
    final_result["rmse"].append(rmse)
    # final_result["nrmse"].append(nrmse)
    final_result["mae"].append(mae)
    final_result["r2"].append(r2)
    final_result["mape"].append(mape)
        
    print(f'Results: {(col,rmse,mae,r2,mape)}')
        
        
final_measures_kpca = pd.DataFrame(final_result) 

print("Statistics MIMO (test): ")
final_measures_kpca

Results: ('use(t)', 0.671, 0.315, 0.432, 0.453)
Results: ('gen(t)', 0.028, 0.012, 0.95, 0.535)
Results: ('Dishwasher(t)', 0.149, 0.032, 0.262, 195645440419.578)
Results: ('Furnace 1(t)', 0.113, 0.056, 0.387, 0.936)
Results: ('Furnace 2(t)', 0.124, 0.058, 0.218, 0.378)
Results: ('Home office(t)', 0.038, 0.011, 0.865, 0.13)
Results: ('Fridge(t)', 0.057, 0.03, 0.313, 1.612)
Results: ('Wine cellar(t)', 0.029, 0.013, 0.74, 0.85)
Results: ('Garage door(t)', 0.011, 0.005, -0.071, 0.365)
Results: ('Kitchen 12(t)', 0.013, 0.004, 0.527, 2776597291.941)
Results: ('Kitchen 14(t)', 0.057, 0.013, -0.505, 3187195865.871)
Results: ('Kitchen 38(t)', 0.0, 0.0, -0.617, 49731216.096)
Results: ('Barn(t)', 0.099, 0.028, 0.438, 0.518)
Results: ('Well(t)', 0.084, 0.026, -0.711, 1230709016.624)
Results: ('Microwave(t)', 0.079, 0.016, -0.532, 4105259108.39)
Results: ('Living room(t)', 0.046, 0.013, 0.752, 4273329911.067)
Results: ('Solar(t)', 0.028, 0.012, 0.95, 0.46)
Results: ('temperature(t)', 1.235, 0.978, 0.996, 0.025)
Results: ('humidity(t)', 0.018, 0.011, 0.991, 0.018)
Results: ('visibility(t)', 0.237, 0.126, 0.979, 0.017)
Results: ('apparentTemperature(t)', 1.673, 1.372, 0.994, 0.055)
Results: ('pressure(t)', 0.371, 0.267, 0.998, 0.0)
Results: ('windSpeed(t)', 0.574, 0.293, 0.979, 313528497542.395)
Results: ('cloudCover(t)', 0.057, 0.018, 0.962, 7005962923056.106)
Results: ('windBearing(t)', 27.395, 6.847, 0.933, 98178430187734.44)
Results: ('precipIntensity(t)', 0.003, 0.001, 0.915, 3159775275158.95)
Results: ('dewPoint(t)', 0.508, 0.318, 0.999, 0.022)
Results: ('precipProbability(t)', 0.035, 0.007, 0.957, 8506224517459.216)
Statistics MIMO (test):

                  variable    rmse    mae     r2          mape
0                   use(t)   0.671  0.315  0.432  4.530000e-01
1                   gen(t)   0.028  0.012  0.950  5.350000e-01
2            Dishwasher(t)   0.149  0.032  0.262  1.956454e+11
3             Furnace 1(t)   0.113  0.056  0.387  9.360000e-01
4             Furnace 2(t)   0.124  0.058  0.218  3.780000e-01
5           Home office(t)   0.038  0.011  0.865  1.300000e-01
6                Fridge(t)   0.057  0.030  0.313  1.612000e+00
7           Wine cellar(t)   0.029  0.013  0.740  8.500000e-01
8           Garage door(t)   0.011  0.005 -0.071  3.650000e-01
9            Kitchen 12(t)   0.013  0.004  0.527  2.776597e+09
10           Kitchen 14(t)   0.057  0.013 -0.505  3.187196e+09
11           Kitchen 38(t)   0.000  0.000 -0.617  4.973122e+07
12                 Barn(t)   0.099  0.028  0.438  5.180000e-01
13                 Well(t)   0.084  0.026 -0.711  1.230709e+09
14            Microwave(t)   0.079  0.016 -0.532  4.105259e+09
15          Living room(t)   0.046  0.013  0.752  4.273330e+09
16                Solar(t)   0.028  0.012  0.950  4.600000e-01
17          temperature(t)   1.235  0.978  0.996  2.500000e-02
18             humidity(t)   0.018  0.011  0.991  1.800000e-02
19           visibility(t)   0.237  0.126  0.979  1.700000e-02
20  apparentTemperature(t)   1.673  1.372  0.994  5.500000e-02
21             pressure(t)   0.371  0.267  0.998  0.000000e+00
22            windSpeed(t)   0.574  0.293  0.979  3.135285e+11
23           cloudCover(t)   0.057  0.018  0.962  7.005963e+12
24          windBearing(t)  27.395  6.847  0.933  9.817843e+13
25      precipIntensity(t)   0.003  0.001  0.915  3.159775e+12
26             dewPoint(t)   0.508  0.318  0.999  2.200000e-02
27    precipProbability(t)   0.035  0.007  0.957  8.506225e+12